{
    "whitelist": [
        "es5.properties.mutators",
        "es6.modules",
        "es6.regex.sticky",
        "es6.regex.unicode",
        "es6.tailCall",
        "es6.templateLiterals",
        "es7.decorators",
        "es7.classProperties",
        "es7.exportExtensions",
        "es7.comprehensions",
        "es7.asyncFunctions",
        "es7.doExpressions",
        "es7.exponentiationOperator",
    ]
}
